# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
venv/
env/
.idea


# --- Airflow ---
airflow/logs/
airflow/dags/__pycache__/
airflow/dags/*.tmp
airflow/dags/*.log
/airflow/dags/traffic.json

# Airflow local db
airflow/airflow.db
airflow/airflow.sqlite

# Scheduler/process logs
airflow/dag_processor_manager/
airflow/scheduler/

# --- API cache ---
api/__pycache__/

# --- Geometry / Generator cache ---
generator/cache/
generator/__pycache__/

# --- MBTiles and heavy vector files ---
#*.mbtiles
*.pbf
*.osm

# Keep only final production mbtiles (if you want)
# !tileserver/roads_traffic.mbtiles

# --- Frontend build cache ---
frontend-map/node_modules/
frontend-map/dist/
frontend-map/.cache/

# --- Clickhouse ---
clickhouse/data/
clickhouse/logs/
clickhouse/*.log

# --- Docker ---
docker/*.log
*.pid

# --- OS Files ---
.DS_Store
Thumbs.db